main {
  background-image: url(../img/common_bg.png);
  height: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
h2 {
  margin-bottom: 20px;
}
/* contact */
.contact {
  margin: 0 auto; /*中央寄せ*/
  padding: 100px 35px;
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
}
.contact p {
  text-align: center;
}
.contact_table {
  width: 100%;
  max-width: 880px;
  margin: 50px auto 20px;
}
.contact_item,
.contact_body {
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.contact_item {
  text-align: center;
  width: 30%;
}

.contact_body {
  width: 70%;
  text-align: left;
}

.contact_type {
  display: block;
}

.contact_type + .contact_type {
  margin-top: 10px;
}

.contact_type_txt {
  margin-left: 5px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.form_text,
.form_textarea {
  border: 1px solid;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}
.required {
  border-radius: 50px;
  background-color: #fd6b6b;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  margin-left: 10px;
  padding: 2px 5px;
  text-align: center;
}

.contact_btn {
  max-width: 300px;
  width: 50%;
  background-color: #803a36;
  color: #fff;
  font-weight: bold;
  display: block; /* インライン要素をブロック要素に変更 */
  margin: 0 auto; /* 中央寄せ */
  font-size: 16px; /* 文字の大きさ */
  padding: 15px; /* 内側の余白 */
  border-radius: 100vh; /* 角丸指定 */
  cursor: pointer;
  text-align: center;
}

/* footer */
footer {
  height: 114px;
  width: 100%;
  background-color: #eee0c9;
  text-align: center;
}
footer p {
  line-height: 114px;
  font-size: 0.75rem;
}

/* confirm */
.complete {
  font-size: 1.5rem;
  margin: 50px 0;
}
.confirm_txt {
  margin-bottom: 50px;
  line-height: 2;
}
.confirm_main {
  height: calc(100vh - 114px);
}

@media screen and (max-width: 650px) {
  .contact_item {
    display: block;
    width: 100%;
    padding: 0 20px;
    text-align: left;
  }
  .contact_body {
    display: block;
    width: 100%;
  }
}
