main {
  height: 100%;
  background-image: url(../img/works_bg.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  margin: 0 auto;
}

.works-title {
  padding-top: 96px;
  position: relative;
  margin-bottom: 20px;
}
.cat-list {
  display: flex;
  justify-content: end;
  margin-right: 133px;
  font-weight: bold;
  margin-bottom: 50px;
  gap: 20px;
}
.cat-item {
  width: inherit;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: var(--mainColor);
  color: #fff;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 133px;
  max-width: 100%;
  cursor: pointer;
}
.works-item {
  width: calc((100% - 88px) / 3);
  margin-bottom: 40px;
}
.img_box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.img_box::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.works-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  border-radius: 30px;
  transition: 1s all;
}
.works-img:hover {
  transform: scale(1.1, 1.1);
  transition: 1s all;
}
.category {
  margin: 18px 0;
  font-size: 0.75rem;
}
.category span {
  font-size: 0.75rem;
  color: #fff;
  border-radius: 30px;
  padding: 0px 5px;
}
.design {
  background-color: #f4a891;
}
.cording {
  background-color: #8bc66f;
}

/* outline */
h3 {
  font-size: 3rem;
  color: var(--serviceColor);
  text-align: center;
  margin-bottom: 90px;
}

/* footer */
footer {
  height: 114px;
  width: 100%;
  background-color: #eee0c9;
  text-align: center;
}
footer p {
  line-height: 114px;
  font-size: 0.75rem;
}

@media screen and (max-width: 650px) {
  html {
    /* 16 / 650 * 100 */
    font-size: 2.46vw;
  }
  .cat-list {
    justify-content: center;
    margin: 0 auto 50px auto;
  }
  .works-list {
    margin: 0 80px;
    gap: 50px;
  }
  .works-item {
    width: 100%;
    margin: 0 auto;
  }
  .img_box {
    width: 100%;
  }
}
